<form method="post" action="{{ path('app_tasas_delete', {'id': tasa.id}) }}" onsubmit="return confirm('Confirmas que deseas eliminar esta tasa?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tasa.id) }}">
    <button class="btn btn-danger">Borrar tasa</button>
</form>
