<form method="post" action="{{ path('app_notificacion_delete', {'id': notificacion.id}) }}" onsubmit="return confirm('Deseas borrar al alumno?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notificacion.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
